#pm-app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px auto 25px;
  grid-template-areas: "appbar" 
                       "content"
                       "footer";
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.pm-menu-font {
  font-size: 13px!important;
}

#pm-appbar {
  grid-area: appbar;
}
#pm-appbar-menu {
  font-size: 14px!important;
}
.e-appbar-separator {
  padding-left: 4px;
  margin-left: 4px;
}
#pm-appbar.e-dropdown-popup.e-item {
  font-size: 13px!important;
}
#pm-appbar .e-btn.e-inherit {
  margin: 0 3px;
}
.pm-appbar-menu-icon {
  font-size: 18px!important;
}
.pm-appbar-logo {
  margin: 4px 12px 4px 12px;
}

#pm-appbar-menu .e-menu-item:hover:not(.pm-appbar-menu-selected) {
  border-radius: 20px;
}
#pm-appbar-menu .e-selected {
  border-radius: 20px;
}
#pm-appbar-menu .pm-appbar-menu-selected {
  border-radius: 20px;;
}

#pm-appbar-search-group {
  width: 200px;
  border-color: #e0e0e0;
  background-color: #ffffff!important;
  border-radius: 25px;
  height: 35px;
  margin: 4px 12px 4px 12px;
}
input#pm-appbar-search.e-input {
  color: #000000!important;
  padding-top: 5px!important;
}
.pm-appbar-search-input::placeholder, .pm-appbar-search-icon {
  color: #909090!important;
  opacity: 0.5;
}

#pm_appbar_user_account_name {
  font-size: 12px!important;
  line-height: 1!important;
}

#pm-sidebar {
  overflow: auto;
  width: 100px;
  padding-top: 11px;
  transition: all 0.5s!important;
  z-index: 999!important;
}
.e-sidebar {
}
.e-list-item {
  padding: 0!important;
}
.pm-sidebar-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.pm-sidebar-menu {
  font-weight: 300;
  font-size: 14px!important;
  padding-left: 0!important;
  margin-top: 20px;
}
.pm-sidebar-menu .e-list-item .e-text-content {
  padding-left: 16px!important;
}
.pm-sidebar-menu .e-ul {
  padding-left: 0!important;
}
.pm-sidebar-menu .e-list-item .e-list-text {
  font-weight: 300;
  font-size: 14px;
}
.pm-sidebar-menu .e-list-item .e-icons {
  visibility: hidden;
}
.pm-sidebar-menu .e-list-item>.e-list-parent {
  border: 1px solid!important;
  border-radius: 20px!important;
  margin-left: 10px!important;
  margin-right: 10px!important;
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}
li.e-list-item.e-level-1.e-hover {
  border-radius: 20px!important;
}

#pm-page-container {
  grid-area: content;
  padding-top: 11px;
  height: 100%;
}
#pm-content {
  height: 100%;
  z-index: 100!important;
}

#pm-footer {
  grid-area: footer;
  background-color: #f0f0f0;
}

/* UI controls specific styles */

.pm-gridview-title {
  font-size: 22px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pm-scheduleview-container {
  width: auto;
  height: calc(100vh - 137px);
}
